body {
  background-color: #F9FAFC;
}

header {
  padding: 3% 0;
  display: flex;
  width: 935px;
  margin: auto;
}

#avatar-box {
  flex: 1;
  margin: auto;
}

#info-box {
  flex: 2;
}

#avatar {
  margin-left: 25%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid #8803fc;
}

#username {
  font-size: 28px;
  font-family: Verdana, Arial;
}

#bio {
  font-size: 14px;
  font-family: Verdana, Arial;
}

.container {
  display: flex;
  flex-wrap:wrap;
  width: 935px;
  margin:auto;
  justify-content: space-around;
}

.image-box {
  padding-top: 13px;
}

.image {
  width: 293px;
  height: 293px;
}

@media (max-width: 1100px) and (min-width: 701px) {
  header {
    padding: 3% 0;
    display: flex;
    width: 100%;
    margin: auto;
    align-items: flex-start;
  }

  #avatar-box {
    flex: 1;
    margin: 3% auto 0;
  }

  #avatar {
    display: block;
    margin: 0 auto
  }

  #info-box {
    flex: 1;
    padding-top: 1%;
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    margin:auto;
    justify-content: space-around;
    box-sizing:border-box;
  }

  .image-box {
    padding: 13px 3%;
  }

  .image {
    width: 293px;
    height: 293px;
  }
}



@media (max-width: 700px) {

  header {
    width: 100%;
    display: inline;
  }

  #bio {
    display:none;
  }

  #info-box {
      text-align: center;
  }

  #avatar {
    display: block;
    margin: 0 auto;
  }

  .container {
    width: 100%;
  }

  .image-box {
    padding: 13px 5%;
  }

}
